<h1>Images</h1>
<p>
    List of images uploaded to docker.ub.gu.se.
</p>

<ul class="list-unstyled">
<% @repos.each do |repo| %>
    <li><a href="/show/?id=<%= repo %>"><%= repo %></a></li>
<% end -%>
</ul>
